
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
</style>


<div class="slider">
    <ul class="bxslider">
        <li style="background: url(../Theme/images/slider.jpg) no-repeat 50% 50%; background-size: cover; height: 600px;">
            <div class="container">
                <div class="info">
                    <h2 style=" color: #008bc3; font-weight: 600">Thời Điểm <br><span>Tựu Trường Đã Tới</span></h2>
                    <a href="#" style=" font-weight:600;"><span style="font-weight:500;">Cùng Khám Phá Đại Học TDMU</span></a>
                </div>
            </div>
            <!-- / content -->
        </li>
        <li style="background: url(../Theme/images/slide.jpg) no-repeat 50% 50%; background-size: cover; height: 600px;">
        </li>
        <li style="background: url(../Theme/images/slider2.jpg) no-repeat 50% 50%; background-size: cover; height: 600px;">
        </li>
    </ul>
    <div class="bg-bottom"></div>
</div>
<section class="posts">
    <div class="container">
        <article>
            <div class="pic"><img width="121" src="~/Theme/images/2.png" alt=""></div>
            <div class="info">
                <h3>Phương Pháp Học Tốt Nhất</h3>
                <p>Tạo thẻ ghi chú cho thông tin cần nhớ. Bạn có thể sử dụng thẻ ghi chú cho hầu hết mọi chủ đề, và đây là công cụ tuyệt vời dành cho việc tự kiểm tra kiến thức. Hãy sử dụng thẻ ghi chú để học từ vựng, công thức toán, sự kiện và nhân vật lịch sử, tiến trình và dữ kiện khoa học, v.v. </p>
            </div>
        </article>
        <article>
            <div class="pic"><img width="121" src="~/Theme/images/3.png" alt=""></div>
            <div class="info">
                <h3>Cam Kết Sinh Viên Ra Trường Có Việc Làm</h3>
                <p>Nhà trường không ngừng đẩy mạnh mối quan hệ chặt chẽ giữa nhà trường và doanh nghiệp, triển khai ký kết hợp tác đào tạo gắn liền với cung ứng nguồn nhân lực sau đào tạo với các Tập đoàn kinh tế lớn</p>
            </div>
        </article>
    </div>
    <!-- / container -->
</section>

<section class="news">
    <div class="container">
        <h2>Thông Báo Mới Nhất</h2>
        <article>
            <div class="pic"><img src="~/Theme/images/tt1.jpg" alt=""></div>
            <div class="info">
                <h4>Đ/c Nguyễn Thị Thương trúng cử BCH Đoàn TNCS Hồ Chí Minh tỉnh Bình Dương khóa XI </h4>
                <p class="date"> 05/10/2022, Bình Dương</p>
                <p>Diễn ra trong 2 ngày (3-4/10/2022) tại Trung tâm Hội nghị và Triễn lãm tỉnh Bình Dương, Đại hội đại biểu Đoàn TNCS Hồ Chí Minh tỉnh Bình Dương lần thứ XI, nhiệm kỳ 2022-2027 đã thành công tốt đẹp(...)</p>
                <a class="more" href="#">Đọc Ngay</a>
            </div>
        </article>
        <article>
            <div class="pic"><img src="~/Theme/images/tt2.jpg" alt=""></div>
            <div class="info">
                <h4>SV ngành Kỹ thuật môi trường học tập thực tế tại các tỉnh miền Tây </h4>
                <p class="date"> 05/10/2022, Bình Dương</p>
                <p>Từ ngày 26/09 – 30/09/2022, sinh viên năm 3 và năm 4 ngành Kỹ thuật môi trường đã thực hiện đợt thực tập thực tế tại chuỗi đơn vị xử lý môi trường, doanh nghiệp trú đóng tại các tỉnh miền Tây (...)</p>
                <a class="more" href="#">Đọc Ngay</a>
            </div>
        </article>
        <div class="btn-holder">
            <a class="btn" href="#">Hiển Thị Thêm</a>
        </div>
    </div>
    <!-- / container -->
</section>

<section class="events">
    <div class="container">
        <h2>Sự Kiện Sắp Tới</h2>
        <article>
            <div class="current-date">
                <p>Tháng 4</p>
                <p class="date">15</p>
            </div>
            <div class="info">
                <p>Lễ khai giảng năm học 2022 – 2023</p>
                <a class="more" href="#">Đọc Thêm</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>Tháng 9</p>
                <p class="date">32</p>
            </div>
            <div class="info">
                <p>
                    Thứ tư Hội thảo khoa học quốc tế: Viễn cảnh Đông Nam Bộ - Lần 3, năm 2022
                </p>
                <a class="more" href="#">Đọc Thêm</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>Tháng 11</p>
                <p class="date">25</p>
            </div>
            <div class="info">
                <p>Lễ Mừng Tết Trung Thu</p>
                <a class="more" href="#">Đọc Thêm</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>Tháng 16</p>
                <p class="date">11</p>
            </div>
            <div class="info">
                <p>Cuộc Thi Hóa Trang Sinh Viên</p>
                <a class="more" href="#">Đọc Thêm</a>
            </div>
        </article>
        <div class="btn-holder">
            <a class="btn blue" href="#">Tất cả sự kiện sắp tới</a>
        </div>
    </div>
    <!-- / container -->
</section>
<div class="container">
    <a href="#fancy" class="info-request">
        <span class="holder">
            <span class="title">Liên Hệ Chúng Tôi</span>
            <span class="text">Mọi thắc mắc vui lòng điền email vào form bên dưới</span>
        </span>
        <span class="arrow"></span>
    </a>
</div>

