@model IEnumerable<QLNCKH.Models.CHITIETNHOM>



        <div class="form-group" id="err1">
            <div class="col-md-12 col-inline">
                <button  type="button" id="submit" class="btn-Nhom js-btn-add">Thêm Thành Viên</button>
            </div>
        </div>




